<h1>Task Manage Project</h1>
<mat-divider></mat-divider>

<div class="menu">
    <mat-icon>library_add</mat-icon> 
    <h3>My issues</h3>
</div>

<div class="menu">
    <mat-icon>backup</mat-icon> 
    <h3>Backlog</h3>
</div>

<div class="menu">
    <mat-icon>dashboard</mat-icon> 
    <h3>Board</h3>
</div>

<div class="menu">
    <mat-icon>code</mat-icon> 
    <h3>Code</h3>
</div>

<div class="menu">
    <mat-icon>new_releases</mat-icon> 
    <h3>Release</h3>
</div>

<div class="menu">
    <mat-icon>settings</mat-icon> 
    <h3>Settings</h3>
</div>

<mat-divider></mat-divider>

<h3 class="header">About this</h3>
<p> Task manage project can be defined as a collection of tasks that need to be completed to achieve a certain outcome. In Task manage project a project can be thought of as a container used to organize and track those tasks, or issues, across the entire team.</p>